@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900
  }

  .checkbox-wrapper {
    @apply flex items-center mb-2 gap-2 md:gap-0
  }

  table th {
    @apply min-w-40 h-8 md:h-10 truncate
  }

  table td {
    @apply text-center h-8 md:h-10 truncate
  }

  .title {
    @apply text-xl border-b-2 border-slate-700/60 shadow-md opacity-40
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}